<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - Betting App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <h1>Betting App</h1>
        <ul>
            <li><a href="{{ url_for('graph.show_graph') }}">Home</a></li>
            <li><a href="{{ url_for('ev.index') }}">EV Calculator</a></li>
            <li><a href="{{ url_for('bets.view_bets') }}">Recent Bets</a></li>
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
{% block scripts %}{% endblock %}