{% extends 'base.html' %}

{% block header %}
{% block title %}Recent Bets{% endblock %}
{% endblock %}

{% block content %}
<div id="form-container">
    <form id="bet-filter-form" action="/bets/view-bets" method="get">
        <div>
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start_date" required>
        </div>
        <div>
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end_date" required>
        </div>
        <button type="button" id="filter-bets-btn" action="/bets/view-bets" method="get">Filter Bets</button>
    {% if error_message %}
        <p id="error-message" class="date-error" style="color: red; margin-left: 0;">{{ error_message }}</p>
    {% endif %}
    </form>
</div>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Bet Name</th>
            <th>Bankroll</th>
            <th>Unit Size</th>
            <th>Your Odds</th>
            <th>Other Odds</th>
            <th>EV</th>
            <th>Units Placed</th>
            <th>Default Juice</th>
            <th>Status</th>
            <th>Profit/Loss</th>
            <th>Delete Bet</th>
        </tr>
    </thead>
    <tbody>
        {% for bet in bets %}
        <tr>
            <td>{{ bet.date }}</td>
            <td>{{ bet.bet_name }}</td>
            <td>{{ bet.bankroll }}</td>
            <td>{{ bet.unit_size }}</td>
            <td>{{ bet.your_odds }}</td>
            <td>{{ bet.other_odds }}</td>
            <td>{{ (bet.ev * 100) | round(4) }}%</td>
            <td>{{ bet.units_placed | round(4) }}</td>
            <td>{{ (bet.juice * 100) | round(4) }}%</td>
            <td>
                <select onchange="updateBetStatus('/bets/update-bet-status/{{ bet.id }}', this.value)">
                    <option value="not settled" {% if bet.outcome == 'not settled' %}selected{% endif %}>Not Settled</option>
                    <option value="won" {% if bet.outcome == 'won' %}selected{% endif %}>Won</option>
                    <option value="lost" {% if bet.outcome == 'lost' %}selected{% endif %}>Lost</option>
                </select>
            </td>
            <td class="profit-loss" id="profit-loss-{{ bet.id }}">{{ bet.profit_loss }}</td>
            <td>
                <button class="delete-btn" onclick="deleteBet('/bets/delete-bet/{{ bet.id }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button id="backup-btn">Backup Database</button>
<div id="backup-message-container"></div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='bets.js') }}"></script>
<script>
    const backupBetsUrl = "{{ url_for('backup.backup_db') }}";
</script>
{% endblock %}